/* 
    Documento creado por Manuel García Baldó (UO295497) 
    SEW - 3er curso del Grado en Ingeniería Informática del Software - EII - UNIOVI 
*/

/* Especificidad 0, 0, 2 */
main > section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 70%;
  place-items: center; /* Centra el contenido horizontal y verticalmente */
  margin: 0 auto; /* Centra horizontalmente */
  box-sizing: border-box; /* Incluye el padding en las dimensiones */
}

/* Especificidad 0, 0, 3 */
main > section > h3 {
  grid-column: -1/1;
  font-size: 1.5em;
  text-align: center;
  /* Redefinicion de margin-bottom*/
  margin-bottom: 0.5rem;
  margin: 0;
}

/* Especificidad 0, 0, 3 */
main > section > div {
  width: 90%;
  justify-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  /* Color de fondo definido, heredando el color de primer plano */
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.2em solid #000;
  margin: 1em;
  animation-fill-mode: forwards;
}

/* Especificidad 0, 0, 3 */
main > section > button {
  padding: 0.5rem 1rem;
  grid-column: span 2;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

/* Especificidad 0, 0, 3 */
main > section > p {
  grid-column: span 4;
  text-align: center;
  font-size: 1.2em;
  /* Color definido sin color de fondo, heredando el color de de fondo del p general */
  color: #333;
}

/* Especificidad 0, 0, 3 */
main > section > article {
  grid-column: 1/-1;
  display: grid;
  width: 100%;
  padding: 1rem;
  /* Color de fondo definido, heredando el color de primer plano */
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
}

/**
    FORMULARIO
**/
/* Especificidad 0, 0, 4 */
main > section > article label {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  /* Color primario definido, heredando el color de fondo de body */
  color: #555;
  margin-bottom: 1rem;
}

/* Especificidad 0, 0, 4 */
main > section > article input {
  padding: 0.75rem;
  font-size: 0.75em;
  border: 0.1em solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
}

/* Especificidad 0, 0, 4 */
main > section > article > button {
  padding: 0.75rem 1.5rem;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

/**
    FIN -- FORMULARIO
**/

@keyframes encenderLuz {
  /* Color de fondo definido, heredando el color de primer plano del section  */
  0% {
    background-color: rgba(0, 0, 0, 0.7); /* Apagado */
  }
  99% {
    background-color: rgba(0, 0, 0, 0.7); /* Apagado */
  }
  100% {
    background-color: red; /* Encendido */
  }
}

/* Especificidad 0, 2, 3 */
main > section.load > div:nth-child(2) {
  animation: encenderLuz 0.5s forwards;
}
/* Especificidad 0, 2, 3 */
main > section.load > div:nth-child(3) {
  animation: encenderLuz 1s forwards;
}
/* Especificidad 0, 2, 3 */
main > section.load > div:nth-child(4) {
  animation: encenderLuz 1.5s forwards;
}
/* Especificidad 0, 2, 3 */
main > section.load > div:nth-child(5) {
  animation: encenderLuz 2s forwards;
}

/* Especificidad 0, 1, 2 */
main > section.unload {
  animation: out 0.1s forwards; /* Animación de apagado */
}
